<div class="flex flex-col space-y-4 bg-white" *transloco="let t">
    <div
        #mapCanvas
        [appElementRef]="mapInitializer"
        class="w-full h-[40vh]"
    ></div>

    <button
        (click)="drawMarker(null)"
        class="btn"
        [ngClass]="entryPoint() ? 'btn-disabled' : 'btn-primary'"
        [disabled]="entryPoint() ? true : false"
    >
        {{ t(vm().addButtonTextKey) }}
    </button>

    <button
        (click)="deleteMarker()"
        class="btn"
        [ngClass]="entryPoint() ? 'btn-error' : 'btn-disabled'"
        [disabled]="entryPoint() ? false : true"
    >
        {{ t(vm().deleteButtonTextKey) }}
    </button>
</div>
