<nav class="mt-10 flex justify-center p-4">
    <div class="w-11/12 md:w-3/4 flex flex-col md:flex-row justify-between items-center">
        <a href="#"><img src="../../assets/phoenix.jpg" alt="logo" width="50" height="50" class="mb-4 md:mb-0"></a>
        <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-10 text-center md:text-left">
            <li><a href="#" class="hover:text-gray-400">Home</a></li>
            <li><a href="#" class="hover:text-gray-400">Products</a></li>
            <li><a href="#" class="hover:text-gray-400">Company</a></li>
            <li><a href="#" class="hover:text-gray-400">News</a></li>
            <li><a href="#" class="hover:text-gray-400">FAQ</a></li>
            <li><a href="#" class="hover:text-gray-400">Contacts</a></li>
        </ul>
    </div>
</nav>