@let vM = vm();
<div class="join" *transloco="let t">
    <app-button
        [vm]="vM.addButtonXVM"
        [disabled]="!!entryPointSignal()"
        (click)="drawMarker(null)"
    >
        @if (vM.addButtonXVM.textKey) {
            {{ t(vM.addButtonXVM.textKey) }}
        }
    </app-button>
    <app-button
        [vm]="vM.deleteButtonXVM"
        [disabled]="!entryPointSignal()"
        (click)="deleteMarker()"
    >
        @if (vM.deleteButtonXVM.textKey) {
            {{ t(vM.deleteButtonXVM.textKey) }}
        }
    </app-button>
</div>
