@let vM = vm();
<div class="join" *transloco="let t">
    <app-button
        [vm]="vM.addButtonXVM"
        [disabled]="!!entryPointSignal()"
        (click)="drawMarker(null)"
    >
        @if (vM.addButtonXVM.textKey) {
            <span>{{ t(vM.addButtonXVM.textKey) }}</span>
        }
    </app-button>
    <app-button
        [vm]="vM.deleteButtonXVM"
        [disabled]="!entryPointSignal()"
        (click)="deleteMarker()"
    >
        @if (vM.deleteButtonXVM.textKey) {
            <span>{{ t(vM.deleteButtonXVM.textKey) }}</span>
        }
    </app-button>
</div>
