<section id="product-section" class="sm:h-screen mt-20">
  <div class="mx-5 sm:mx-40">
    <div class="text-5xl font-black sm:text-6xl sm:w-1/3 text-left pt-16">Our products</div>
    <div class="sm:flex sm:space-x-10 mt-20">
      <a routerLink="/product/controller">
        <p class="text-2xl text-gray-400">01</p>
        <img src="../../assets/lepke.png" alt="" />
        <h1 class="font-bold text-2xl">Controller</h1>
        <p class="mt-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed repellat corrupti, illo id
          adipisci laboriosam cupiditate autem enim reprehenderit facere perspiciatis quis rerum
          voluptate reiciendis fuga quae consequatur eligendi expedita?
        </p>
      </a>
      <a routerLink="/product/rtu" class="mt-10 sm:mt-0 cursor-pointer">
        <p class="text-2xl text-gray-400">02</p>
        <img src="../../assets/lepke.png" alt="" />
        <h1 class="font-bold text-2xl">RTU</h1>
        <p class="mt-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed repellat corrupti, illo id
          adipisci laboriosam cupiditate autem enim reprehenderit facere perspiciatis quis rerum
          voluptate reiciendis fuga quae consequatur eligendi expedita?
        </p>
      </a>
      <a routerLink="/product/cloudandmobile" class="mt-10 sm:mt-0 cursor-pointer">
        <p class="text-2xl text-gray-400">03</p>
        <img src="../../assets/lepke.png" alt="" />
        <h1 class="font-bold text-2xl">Cloud and Mobile</h1>
        <p class="mt-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed repellat corrupti, illo id
          adipisci laboriosam cupiditate autem enim reprehenderit facere perspiciatis quis rerum
          voluptate reiciendis fuga quae consequatur eligendi expedita?
        </p>
      </a>
    </div>
  </div>
</section>
