@let vM = vm();
@let user = vM?.user;
@if (vM && user) {
    <app-page-layout *transloco="let t">
        @let headerXVM = vM.headerXVM;
        <app-page-header>
            <h1>
                {{
                    t(headerXVM.titleKey, {
                        id: headerXVM.orderId,
                    })
                }}
            </h1>

            <app-badge
                [vm]="headerXVM.statusBadgeXVM"
                [ngClass]="{
                    '*:bg-(--new-order) *:border-(--new-order)':
                        vM.status === 'new',
                    '*:bg-(--active-order) *:border-(--active-order)':
                        vM.status === 'active',
                    '*:bg-(--in-progress-order) *:border-(--in-progress-order)':
                        vM.status === 'in-progress',
                    '*:bg-(--done-order) *:border-(--done-order)':
                        vM.status === 'done',
                    '*:bg-(--closed-order) *:border-(--closed-order)':
                        vM.status === 'closed',
                }"
                >{{ t(mapOrderStatusToTranslocoTextKey(vM.status)) }}</app-badge
            >

            @let buttonXVM = headerXVM.addNewMissionsButtonXVM;
            @if (headerXVM.addNewMissionEnabled) {
                <a [routerLink]="buttonXVM.routerLink">
                    <app-button [vm]="buttonXVM">
                        @if (buttonXVM.textKey) {
                            {{ t(buttonXVM.textKey) }}
                        }
                    </app-button>
                </a>
            }
        </app-page-header>

        <app-frame [vm]="vM.overviewFrameXVM">
            @let gmpMapXVM = vM.overviewFrameXVM.gmpMapXVM;
            @if (gmpMapXVM.bounds; as bounds) {
                <app-gmp-map
                    class="h-96"
                    [bounds]="bounds"
                    appGmpPolygonDrawing
                    [polygonsInput]="gmpMapXVM.missions"
                />
            }
        </app-frame>

        @let missionsFrameXVM = vM.missionsFrameXVM;
        <app-frame [vm]="missionsFrameXVM">
            <app-card-list>
                @for (
                    cardXVM of missionsFrameXVM.missionCardListXVM
                        .missionCardXVMs;
                    track $index
                ) {
                    <app-card>
                        @if (cardXVM.gmpMapXVM.bounds; as bounds) {
                            <app-gmp-map
                                class="h-60"
                                [bounds]="bounds"
                                appGmpPolygonDrawing
                                [polygonInput]="cardXVM.gmpMapXVM.polygon"
                                [appGmpAdvancedMarker]="
                                    cardXVM.gmpMapXVM.entryPoint
                                "
                            />
                        }
                        @let cardBodyXVM = cardXVM.cardBodyXVM;
                        <app-card-body>
                            <h3>
                                {{
                                    t(cardBodyXVM.titleKey, {
                                        id: cardBodyXVM.title,
                                    })
                                }}
                            </h3>
                            <app-badge
                                [vm]="cardBodyXVM.statusBadgeXVM"
                                [ngClass]="{
                                    '*:bg-green-400 *:border-green-400':
                                        cardBodyXVM.status === 'completed',
                                    '*:bg-yellow-400 *:border-yellow-400':
                                        cardBodyXVM.status === 'scheduled',
                                    '*:bg-blue-400 *:border-blue-400':
                                        cardBodyXVM.status === 'preparing',
                                }"
                            >
                                {{
                                    t(
                                        mapMissionStatusToTranslocoTextKey(
                                            cardBodyXVM.status
                                        )
                                    )
                                }}
                            </app-badge>
                            @for (
                                keyValueXVM of cardBodyXVM.keyValueXVMs;
                                track $index
                            ) {
                                <app-key-value [vm]="keyValueXVM">
                                    <app-key class="text-base-300/30">{{
                                        t(keyValueXVM.keyXVM.textKey)
                                    }}</app-key>
                                    <app-value [vm]="keyValueXVM.valueVM" />
                                </app-key-value>
                            }
                        </app-card-body>
                        <app-card-footer>
                            @let buttonXVM = cardXVM.cardFooterXVM.buttonXVM;
                            <a
                                [routerLink]="buttonXVM.routerLink"
                                [fragment]="buttonXVM.fragment"
                                class="w-full"
                            >
                                <app-button
                                    [vm]="buttonXVM"
                                    class="*:btn-block"
                                >
                                    @if (buttonXVM.textKey; as textKey) {
                                        {{ t(textKey) }}
                                    }
                                </app-button>
                            </a>
                        </app-card-footer>
                    </app-card>
                }
            </app-card-list>
        </app-frame>

        @let chatFrameXVM = vM.chatFrameXVM;
        <app-frame [vm]="chatFrameXVM">
            <div class="flex flex-col space-y-4">
                @for (messageXVM of chatFrameXVM.messageXVMs; track $index) {
                    <app-message [vm]="messageXVM">
                        <app-avatar
                            class="chat-avatar"
                            [vm]="messageXVM.avatarVM"
                        />
                        {{
                            t(messageXVM.nameXRoleValueKey, {
                                name: messageXVM.name,
                                role: t(
                                    mapRoleToTranslocoTextKey(messageXVM.role)
                                ),
                            })
                        }}
                        <time>{{
                            t(messageXVM.dateTimeValueKey, {
                                date: messageXVM.dateTime,
                            })
                        }}</time>
                    </app-message>
                }
            </div>

            @if (!chatFrameXVM.readonlyMessageControl) {
                @let disabled =
                    messageControl.disabled ||
                    messageControl.hasError('emptyString') ||
                    messageControl.hasError('required');

                <div class="join flex flex-row items-center">
                    <app-input-text
                        class="w-full"
                        [vm]="chatFrameXVM.messageInputTextXVM"
                        [formControl]="messageControl"
                    ></app-input-text>
                    <app-button
                        [vm]="chatFrameXVM.submitMessageButtonXVM"
                        [disabled]="disabled"
                        (click)="!disabled && sendMessage()"
                    >
                        <mat-icon>{{
                            chatFrameXVM.submitMessageButtonXVM.icon
                        }}</mat-icon>
                    </app-button>
                </div>
            }
        </app-frame>

        @let actionsFrameXVM = vM.actionsFrameXVM;
        <app-frame [vm]="actionsFrameXVM">
            <div class="join">
                @if (!actionsFrameXVM.completionTemplateButtonHidden) {
                    @let completionTemplateButtonXVM =
                        actionsFrameXVM.completionTemplateButtonXVM;
                    <a [href]="completionTemplateButtonXVM.link.href" download>
                        <app-button [vm]="completionTemplateButtonXVM">
                            @if (
                                completionTemplateButtonXVM.textKey;
                                as textKey
                            ) {
                                {{ t(textKey) }}
                            }
                        </app-button>
                    </a>
                }

                @if (!actionsFrameXVM.closeOrderButtonHidden) {
                    @let closeOrderButtonXVM =
                        actionsFrameXVM.closeOrderButtonXVM;
                    <app-button
                        [vm]="closeOrderButtonXVM"
                        (click)="confirmationDialog.openDialog()"
                    >
                        @if (closeOrderButtonXVM.textKey; as textKey) {
                            {{ t(textKey) }}
                        }
                    </app-button>
                    <app-confirmation-dialog
                        #confirmationDialog
                        [vm]="actionsFrameXVM.confirmationDialogVM"
                        (response)="onConfirmationDialogResponse($event)"
                    />
                }
            </div>
        </app-frame>
    </app-page-layout>
}
