@if (vm(); as vm) {
    <app-page-layout *transloco="let t">
        <app-header>
            <h2>
                {{
                    t(vm.headerXVM.idTitleKey, {
                        id: vm.headerXVM.id,
                    })
                }}
            </h2>

            <app-status
                [ngClass]="{
                    'bg-green-200 text-green-800':
                        vm.headerXVM.statusXVM.status === Status.ACTIVE,
                    'bg-red-200 text-red-800':
                        vm.headerXVM.statusXVM.status === Status.PENDING,
                    'bg-orange-200 text-orange-800':
                        vm.headerXVM.statusXVM.status === Status.COMPLETED,
                }"
            >
                {{ t(vm.headerXVM.statusXVM.statusTextKey) }}
            </app-status>

            @if (vm.headerXVM.addMissionButtonXVM.isVisible) {
                <button class="btn btn-primary w-fit truncate">
                    {{ t(vm.headerXVM.addMissionButtonXVM.textKey) }}
                </button>
            }

            <app-summary-list>
                @for (
                    summaryXVM of vm.headerXVM.summaryListXVM.summaryXVMs;
                    track $index
                ) {
                    <app-summary>
                        <p class="text-gray-600">
                            {{ t(summaryXVM.textKey) }}
                        </p>

                        <p class="font-medium">
                            <app-value [vm]="summaryXVM.valueVM" />
                        </p>
                    </app-summary>
                }
            </app-summary-list>
        </app-header>

        <app-section-card [vm]="vm.overviewSectionCardXVM">
            <app-google-map
                class="h-96"
                appDrawTargetAreas
                [drawnPolygons]="drawnPolygons"
                [targetAreas]="
                    vm.overviewSectionCardXVM.googleMapXVM.targetAreaXVMs
                "
                [vm]="vm.overviewSectionCardXVM.googleMapXVM"
            />
            <app-info-item-list
                class="*:flex-row *:space-y-0 *:justify-between"
                *transloco="let t"
            >
                @for (
                    missionInfoItemXVM of vm.overviewSectionCardXVM
                        .missionInfoItemListXVM.missionInfoItemXVMs;
                    track $index
                ) {
                    <app-info-item class="*:flex-col">
                        <dt class="text-gray-700">
                            {{ t(missionInfoItemXVM.labelKey) }}
                        </dt>
                        <dd class="font-semibold">
                            <app-value [vm]="missionInfoItemXVM.valueVM" />
                        </dd>
                    </app-info-item>
                }
            </app-info-item-list>
        </app-section-card>

        <app-section-card [vm]="vm.detailsSectionCardXVM" *transloco="let t">
            <div class="flex lg:flex-row flex-col space-y-8 lg:space-y-0">
                @for (
                    infoPanelXVM of vm.detailsSectionCardXVM.infoPanelXVMs;
                    track $index
                ) {
                    <app-info-panel class="lg:w-1/2 w-full">
                        <h4 class="font-medium">
                            {{ t(infoPanelXVM.titleKey) }}
                        </h4>
                        <app-info-item-list>
                            @for (
                                infoItemXVM of infoPanelXVM.infoListXVM
                                    .infoItemXVMs;
                                track $index
                            ) {
                                <app-info-item>
                                    <dt class="text-gray-600 w-32">
                                        {{ t(infoItemXVM.labelKey) }}
                                    </dt>
                                    <dd>
                                        <strong class="font-medium">
                                            <app-value
                                                [vm]="infoItemXVM.valueVM"
                                            />
                                        </strong>
                                    </dd>
                                </app-info-item>
                            }
                        </app-info-item-list>
                    </app-info-panel>
                }
            </div>
        </app-section-card>

        <app-section-card [vm]="vm.messagesSectionCardXVM" *transloco="let t">
            <app-message-item-list>
                @for (
                    messageItemXVM of vm.messagesSectionCardXVM
                        .messageItemListXVM.messageItemXVMs;
                    track $index
                ) {
                    <app-message-item>
                        @switch (messageItemXVM.avatarXVM.type) {
                            @case ('withInitials') {
                                <app-avatar
                                    [ngClass]="{
                                        'text-red-500 *:bg-red-200':
                                            messageItemXVM.avatarXVM.status ===
                                            Avatar.RED,
                                        'text-green-500 *:bg-green-200':
                                            messageItemXVM.avatarXVM.status ===
                                            Avatar.GREEN,
                                        'text-blue-500 *:bg-blue-200':
                                            messageItemXVM.avatarXVM.status ===
                                            Avatar.BLUE,
                                        'text-yellow-500 *:bg-yellow-200':
                                            messageItemXVM.avatarXVM.status ===
                                            Avatar.YELLOW,
                                        'text-purple-500 *:bg-purple-200':
                                            messageItemXVM.avatarXVM.status ===
                                            Avatar.PURPLE,
                                    }"
                                >
                                    {{ messageItemXVM.avatarXVM.initials }}
                                </app-avatar>
                            }

                            @case ('withImage') {
                                <app-avatar class="text-white *:bg-black">
                                    <img
                                        [ngSrc]="
                                            messageItemXVM.avatarXVM.imageSrc
                                        "
                                        [alt]="
                                            messageItemXVM.avatarXVM.altTextKey
                                        "
                                        class="object-contain rounded-full"
                                        fill
                                    />
                                </app-avatar>
                            }
                        }
                        <h3 class="font-medium">
                            {{
                                t(messageItemXVM.senderValueKey, {
                                    role: t(messageItemXVM.roleTextKey),
                                    name: messageItemXVM.senderName,
                                })
                            }}
                        </h3>
                        <p class="text-gray-700">
                            {{ messageItemXVM.message }}
                        </p>
                        <time class="text-gray-600 text-sm">{{
                            t(messageItemXVM.sendingDateValueKey, {
                                date: messageItemXVM.sendingDate,
                            })
                        }}</time>
                    </app-message-item>
                }
            </app-message-item-list>
            <div class="w-full flex flex-row">
                <input
                    type="text"
                    [formControl]="messageFormControl"
                    class="px-2 w-full border border-gray-300"
                />
                <button
                    (click)="onSendMessageClick()"
                    [disabled]="messageFormControl.invalid"
                    [ngClass]="
                        messageFormControl.valid
                            ? 'btn-primary'
                            : 'btn-disabled'
                    "
                    class="btn rounded-none"
                >
                    {{ t(vm.messagesSectionCardXVM.buttonTextKey) }}
                </button>
            </div>
        </app-section-card>

        <app-section-card [vm]="vm.missionsSectionCardXVM" *transloco="let t">
            <app-card-group class="grid grid-cols-6">
                <app-card-group-header
                    class="grid grid-cols-subgrid col-span-full"
                >
                    @for (
                        header of vm.missionsSectionCardXVM.cardGroupXVM
                            .cardGroupHeaderXVM;
                        track $index
                    ) {
                        <div>{{ t(header) }}</div>
                    }
                </app-card-group-header>
                <app-card-item-list
                    class="grid grid-cols-subgrid col-span-full"
                >
                    @for (
                        cardItemXVM of vm.missionsSectionCardXVM.cardGroupXVM
                            .cardItemListXVM.cardItemXVMs;
                        track $index
                    ) {
                        <app-card-item
                            class="xl:grid xl:grid-cols-subgrid xl:col-span-full"
                        >
                            <app-card-item-content
                                class="xl:grid xl:grid-cols-subgrid xl:col-span-5"
                            >
                                @for (
                                    keyValueXVM of cardItemXVM
                                        .cardItemContentXVM.keyValueXVMs;
                                    track $index;
                                    let first = $first
                                ) {
                                    <app-key-value
                                        [label]="keyValueXVM.label"
                                        [ngClass]="{ 'text-blue-500': first }"
                                    >
                                        @if (
                                            keyValueXVM.value.type ===
                                            'withValueKey'
                                        ) {
                                            {{
                                                t(
                                                    keyValueXVM.value.key,
                                                    keyValueXVM.value.params
                                                )
                                            }}
                                        } @else {
                                            {{ keyValueXVM.value.value }}
                                        }
                                    </app-key-value>
                                }
                            </app-card-item-content>
                            <app-card-item-action-list
                                class="grid grid-cols-1 col-span-1"
                            >
                                @for (
                                    actionXVM of cardItemXVM
                                        .cardItemActionListXVM.actionXVMs;
                                    track $index
                                ) {
                                    <a
                                        [href]="actionXVM.routerLink"
                                        class="btn btn-circle btn-primary"
                                    >
                                        <mat-icon>{{
                                            actionXVM.matIcon
                                        }}</mat-icon>
                                    </a>
                                }
                            </app-card-item-action-list>
                        </app-card-item>
                    }
                </app-card-item-list>
            </app-card-group>
        </app-section-card>

        <app-section-card [vm]="vm.actionsSectionCardXVM" *transloco="let t">
            <div
                class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4"
            >
                <a
                    class="btn btn-success"
                    [href]="
                        vm.actionsSectionCardXVM.completionTemplateButtonXVM
                            .link.href
                    "
                    download
                >
                    {{
                        t(
                            vm.actionsSectionCardXVM.completionTemplateButtonXVM
                                .textKey
                        )
                    }}
                </a>
                <button
                    class="btn"
                    [disabled]="
                        vm.actionsSectionCardXVM.closeOrderButtonXVM.isDisabled
                    "
                    [ngClass]="
                        vm.actionsSectionCardXVM.closeOrderButtonXVM.isDisabled
                            ? 'btn-disabled'
                            : 'btn-error'
                    "
                    (click)="
                        openConfirmationDialog(
                            vm.actionsSectionCardXVM.closeOrderButtonXVM
                                .confirmationDialogVM
                        )
                    "
                >
                    {{
                        t(vm.actionsSectionCardXVM.closeOrderButtonXVM.textKey)
                    }}
                </button>
            </div>
        </app-section-card>
    </app-page-layout>
}
