@if (vm(); as vm) {
    <app-frame [vm]="vm.frameXVM">
        @let VM = vm.frameXVM;
        <form
            [formGroup]="coordinatesForm"
            (ngSubmit)="sendCoordinates()"
            class="flex flex-col justify-center space-y-4"
        >
            <app-maps formControlName="coordinates" [configVM]="VM" />
            <div class="flex flex-row justify-between">
                <button
                    type="button"
                    (click)="resetForm()"
                    [disabled]="!coordinatesForm.valid"
                    [ngClass]="[
                        coordinatesForm.valid ? 'btn-error' : 'disabled',
                    ]"
                    class="btn"
                >
                    {{ VM.deleteControlButtonText | transloco }}
                </button>

                <button
                    type="submit"
                    [disabled]="!coordinatesForm.valid"
                    [ngClass]="[
                        coordinatesForm.valid ? 'btn-primary' : 'disabled',
                    ]"
                    class="btn"
                >
                    {{ VM.submitButtonTitleKey | transloco }}
                </button>
            </div>
        </form>
    </app-frame>
}
