<div class="flex flex-col space-y-4 bg-white">
    <div
        #mapCanvas
        [appElementRef]="mapInitialize"
        class="w-full h-[40vh]"
    ></div>
    <button
        (click)="drawPolygon(null)"
        class="btn"
        [ngClass]="[targetArea() ? 'btn-disabled' : 'btn-primary']"
        [disabled]="targetArea() ? true : false"
    >
        {{ vm().addButtonTextKey | transloco }}
    </button>
    <button
        (click)="deletePolygon()"
        class="btn"
        [ngClass]="[targetArea() ? 'btn-error' : 'btn-disabled']"
        [disabled]="targetArea() ? false : true"
    >
        {{ vm().deleteButtonTextKey | transloco }}
    </button>
</div>
