@if (vm(); as vm) {
    <app-page-layout *transloco="let t">
        <app-frame>
            <!-- Header that contains everything about the user -->
            <app-user-header>
                <span
                    class="h-8 w-8 rounded-full"
                    [ngClass]="{
                        'bg-blue-700': vm.userHeaderXVM.type === 'customer',
                        'bg-red-700': vm.userHeaderXVM.type === 'office',
                        'bg-green-700': vm.userHeaderXVM.type === 'pilot',
                    }"
                ></span>
                <h2>
                    <app-value [vm]="vm.userHeaderXVM.title" />
                </h2>
                <p class="text-gray-600">
                    <app-value [vm]="vm.userHeaderXVM.role" />
                </p>
                <small class="text-gray-600">{{
                    t(vm.userHeaderXVM.lastLoginDateTextKey)
                }}</small>
                <time>
                    <app-value [vm]="vm.userHeaderXVM.lastLoginDate" />
                </time>
            </app-user-header>

            <app-summary-item-list>
                @for (
                    summaryItemXVM of vm.summaryItemListXVM.summaryItemXVMs;
                    track $index
                ) {
                    <app-summary-item>
                        <span class="text-2xl">{{ summaryItemXVM.emoji }}</span>
                        <h4 class="text-gray-700 font-medium">
                            {{ t(summaryItemXVM.titleKey) }}
                        </h4>
                        <app-value
                            class="text-2xl font-semibold tracking-wider"
                            [ngClass]="{
                                'text-yellow-700':
                                    summaryItemXVM.type === 'yellow',
                                'text-purple-700':
                                    summaryItemXVM.type === 'purple',
                                'text-green-700':
                                    summaryItemXVM.type === 'green',
                                'text-blue-700': summaryItemXVM.type === 'blue',
                            }"
                            [vm]="summaryItemXVM.valueVM"
                        />
                    </app-summary-item>
                }
            </app-summary-item-list>

            <router-outlet />
        </app-frame>
    </app-page-layout>
}
