@let vM = vm();

<div *transloco="let t">
    <div class="flex flex-row justify-between pr-3 xl:pr-2">
        <ng-content select="label" />
        <app-button [vm]="vM.addButtonVM" (clicked)="addAreaData()" />
    </div>
    @if (xAreaData$() | async; as xAreaData) {
        <app-card-group>
            <div class="flex items-center">
                {{ t(vM.missionHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.targetAreaSizeHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.entryPointHeaderKey) }}
            </div>
            <div class="flex items-center">{{ t(vM.doseHeaderKey) }}</div>
            <div class="flex items-center">
                {{ t(vM.applicationDateHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.trichogrammaRequirementHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.distanceFromHeadOfficeHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.commentHeaderKey) }}
            </div>
            <div class="flex items-center">
                {{ t(vM.actionsHeaderKey) }}
            </div>

            @for (area of xAreaData; track $index) {
                <app-card-item
                    class="p-3 bg-gray-100 xl:p-2 grid xl:grid-cols-subgrid xl:col-span-full grid-cols-[2fr_1fr] duration-100 transition-all hover:bg-gray-200 border border-gray-300"
                >
                    <app-key-value [label]="vM.missionHeaderKey">
                        {{ area.missionName }}
                    </app-key-value>
                    <app-key-value [label]="vM.targetAreaSizeHeaderKey">
                        {{
                            t(vM.targetAreaSizeValueKey, {
                                count: area.targetAreaSize,
                            })
                        }}
                    </app-key-value>
                    <app-key-value [label]="vM.entryPointHeaderKey">
                        {{ area.entryPointAddress }}
                        {{
                            t(vM.entryPointValueKey, {
                                count: area.entryPointAddress,
                            })
                        }}
                    </app-key-value>
                    <app-key-value [label]="vM.doseHeaderKey">
                        {{
                            t(vM.doseValueKey, {
                                count: area.dosePerHq,
                            })
                        }}
                    </app-key-value>
                    <app-key-value [label]="vM.applicationDateHeaderKey">
                        {{
                            t(vM.applicationDateValueKey, {
                                applicationDate: area.applicationDate,
                            })
                        }}
                    </app-key-value>
                    <app-key-value
                        [label]="vM.trichogrammaRequirementHeaderKey"
                    >
                        {{
                            t(vM.trichogrammaRequirementValueKey, {
                                count: area.trichogrammaRequirement,
                            })
                        }}
                    </app-key-value>
                    <app-key-value [label]="vM.distanceFromHeadOfficeHeaderKey">
                        {{
                            t(vM.distanceFromHeadOfficeValueKey, {
                                count: area.distanceFromHeadOffice,
                            })
                        }}
                    </app-key-value>
                    <app-key-value [label]="vM.commentHeaderKey">
                        {{ area.comment }}
                    </app-key-value>
                    <app-button
                        [vm]="vM.editButtonVM"
                        (clicked)="editAreaData(area.id)"
                    />
                    <app-button
                        [vm]="vM.deleteButtonVM"
                        (clicked)="deleteAreaData(area.id)"
                    />
                </app-card-item>
            }
        </app-card-group>
        @let data = totalAreaXData$() | async;
        @if (data) {
            <div class="grid grid-cols-3 gap-1">
                <div
                    class="grid grid-cols-subgrid col-span-full bg-gray-300 border border-gray-400 p-3 tracking-wider"
                >
                    <div>
                        {{ t(vM.totalTargetAreaSizeHeaderKey) }}
                    </div>
                    <div>
                        {{ t(vM.totalTrichogrammaRequirementHeaderKey) }}
                    </div>
                    <div>
                        {{ t(vM.totalDistanceFromHeadOfficeHeaderKey) }}
                    </div>
                </div>
                <div
                    class="grid grid-cols-subgrid col-span-full p-3 bg-gray-100 border border-gray-300"
                >
                    <div>
                        {{
                            t(vM.targetAreaSizeValueKey, {
                                count: data.totalTargetAreaSize,
                            })
                        }}
                    </div>
                    <div>
                        {{
                            t(vM.trichogrammaRequirementValueKey, {
                                count: data.totalTrichogrammaRequirement,
                            })
                        }}
                    </div>
                    <div>
                        {{
                            t(vM.distanceFromHeadOfficeValueKey, {
                                count: data.totalDistanceFromHeadOffice,
                            })
                        }}
                    </div>
                </div>
            </div>
        }
    }
</div>
