@if (vm(); as vm) {
    <div *transloco="let t">
        <div class="flex flex-row justify-between pr-3 xl:pr-2">
            <ng-content select="label" />
            <button
                mat-icon-button
                class="bg-emerald-400 hover:bg-emerald-500 text-white h-10 w-10 items-center justify-center text-center rounded-full inline-flex"
                (click)="addAreaData()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
        @if (xAreaData$() | async; as xAreaData) {
            <app-card-group>
                <div class="flex items-center">
                    {{ t(vm.targetAreaSizeHeaderKey) }}
                </div>
                <div class="flex items-center">
                    {{ t(vm.entryPointHeaderKey) }}
                </div>
                <div class="flex items-center">{{ t(vm.doseHeaderKey) }}</div>
                <div class="flex items-center">
                    {{ t(vm.applicationDateHeaderKey) }}
                </div>
                <div class="flex items-center">
                    {{ t(vm.trichogrammaRequirementHeaderKey) }}
                </div>
                <div class="flex items-center">
                    {{ t(vm.distanceFromHeadOfficeHeaderKey) }}
                </div>
                <div class="flex items-center">
                    {{ t(vm.actionsHeaderKey) }}
                </div>

                @for (area of xAreaData; track $index) {
                    <app-card-item
                        class="p-3 bg-gray-100 xl:p-2 grid xl:grid-cols-subgrid xl:col-span-full grid-cols-[2fr_1fr] duration-100 transition-all hover:bg-gray-200 border border-gray-300"
                    >
                        <app-key-value [label]="vm.targetAreaSizeHeaderKey">
                            {{
                                t(vm.targetAreaSizeValueKey, {
                                    count: area.targetAreaSize,
                                })
                            }}
                        </app-key-value>
                        <app-key-value [label]="vm.entryPointHeaderKey">
                            {{ area.entryPointAddress }}
                            {{
                                t(vm.entryPointValueKey, {
                                    count: area.entryPointAddress,
                                })
                            }}
                        </app-key-value>
                        <app-key-value [label]="vm.doseHeaderKey">
                            {{
                                t(vm.doseValueKey, {
                                    count: area.dosePerHq,
                                })
                            }}
                        </app-key-value>
                        <app-key-value [label]="vm.applicationDateHeaderKey">
                            {{
                                t(vm.applicationDateValueKey, {
                                    applicationDate: area.applicationDate,
                                })
                            }}
                        </app-key-value>
                        <app-key-value
                            [label]="vm.trichogrammaRequirementHeaderKey"
                        >
                            {{
                                t(vm.trichogrammaRequirementValueKey, {
                                    count: area.trichogrammaRequirement,
                                })
                            }}
                        </app-key-value>
                        <app-key-value
                            [label]="vm.distanceFromHeadOfficeHeaderKey"
                        >
                            {{
                                t(vm.distanceFromHeadOfficeValueKey, {
                                    count: area.distanceFromHeadOffice,
                                })
                            }}
                        </app-key-value>
                        <button
                            mat-icon-button
                            class="bg-blue-400 hover:bg-blue-500 text-white h-10 w-10 items-center justify-center text-center rounded-full inline-flex"
                            (click)="editAreaData(area.id)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            class="bg-red-400 hover:bg-red-500 text-white h-10 w-10 items-center justify-center text-center rounded-full inline-flex"
                            (click)="deleteAreaData(area.id)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </app-card-item>
                }
            </app-card-group>
            @let data = totalAreaXData$() | async;
            @if (data) {
                <div class="grid grid-cols-3 gap-1">
                    <div
                        class="grid grid-cols-subgrid col-span-full bg-gray-300 border border-gray-400 p-3 tracking-wider"
                    >
                        <div>
                            {{ t(vm.totalTargetAreaSizeHeaderKey) }}
                        </div>
                        <div>
                            {{ t(vm.totalTrichogrammaRequirementHeaderKey) }}
                        </div>
                        <div>
                            {{ t(vm.totalDistanceFromHeadOfficeHeaderKey) }}
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-subgrid col-span-full p-3 bg-gray-100 border border-gray-300"
                    >
                        <div>
                            {{
                                t(vm.targetAreaSizeValueKey, {
                                    count: data.totalTargetAreaSize,
                                })
                            }}
                        </div>
                        <div>
                            {{
                                t(vm.trichogrammaRequirementValueKey, {
                                    count: data.totalTrichogrammaRequirement,
                                })
                            }}
                        </div>
                        <div>
                            {{
                                t(vm.distanceFromHeadOfficeValueKey, {
                                    count: data.totalDistanceFromHeadOffice,
                                })
                            }}
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
