@let vM = vm();

<section *transloco="let t" class="flex flex-col space-y-4">
    <app-section-header>
        <h3 class="form-label">{{ t(vM.sectionHeaderXVM.titleKey) }}</h3>
        <button
            mat-icon-button
            class="btn btn-circle btn-success"
            (click)="addAreaData()"
        >
            <mat-icon>{{ vM.sectionHeaderXVM.addButtonMatIcon }}</mat-icon>
        </button>
    </app-section-header>

    @if (areaXData(); as areaXData) {
        <app-card-group
            class="grid grid-cols-[1fr_1fr_1.5fr_1fr_1fr_1fr_1fr_1fr_1fr]"
        >
            <app-card-group-header class="grid grid-cols-subgrid col-span-full">
                @for (
                    header of vM.cardGroupXVM.cardGroupHeaderXVM;
                    track $index
                ) {
                    <div>
                        {{ t(header) }}
                    </div>
                }
            </app-card-group-header>

            <app-card-item-list class="grid grid-cols-subgrid col-span-full">
                @for (area of areaXData; track $index) {
                    <app-card-item class="grid grid-cols-subgrid col-span-full">
                        @let cardItemXVM =
                            vM.cardGroupXVM.cardItemListXVM.cardItemXVM;
                        <app-card-item-content
                            class="xl:grid xl:grid-cols-subgrid xl:col-span-8"
                        >
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM
                                        .missionLabelKey
                                "
                            >
                                {{ area.missionName }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM
                                        .targetAreaSizeLabelKey
                                "
                            >
                                {{
                                    t(
                                        cardItemXVM.cardItemContentXVM
                                            .targetAreaSizeValueKey,
                                        {
                                            count: area.targetAreaSize,
                                        }
                                    )
                                }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM
                                        .entryPointLabelKey
                                "
                            >
                                {{ area.entryPointAddress }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM.doseLabelKey
                                "
                            >
                                {{
                                    t(
                                        cardItemXVM.cardItemContentXVM
                                            .doseValueKey,
                                        {
                                            count: area.dosePerHq,
                                        }
                                    )
                                }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM.dateLabelKey
                                "
                            >
                                {{
                                    t(
                                        cardItemXVM.cardItemContentXVM
                                            .applicationDateValueKey,
                                        {
                                            applicationDate:
                                                area.applicationDate,
                                        }
                                    )
                                }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM
                                        .trichogrammaRequirementLabelKey
                                "
                            >
                                {{
                                    t(
                                        cardItemXVM.cardItemContentXVM
                                            .trichogrammaRequirementValueKey,
                                        {
                                            count: area.trichogrammaRequirement,
                                        }
                                    )
                                }}
                            </app-key-value>
                            <app-key-value
                                [label]="
                                    cardItemXVM.cardItemContentXVM
                                        .distanceLabelKey
                                "
                            >
                                {{
                                    t(
                                        cardItemXVM.cardItemContentXVM
                                            .distanceFromHeadOfficeValueKey,
                                        {
                                            count: area.distanceFromHeadOffice,
                                        }
                                    )
                                }}
                            </app-key-value>
                            @if (area.comment.length > 0) {
                                <app-key-value
                                    [label]="
                                        cardItemXVM.cardItemContentXVM
                                            .commentLabelKey
                                    "
                                >
                                    {{ area.comment }}
                                </app-key-value>
                            }
                        </app-card-item-content>
                        <app-card-item-action-list
                            class="grid grid-cols-1 col-span-1"
                        >
                            <button
                                mat-icon-button
                                class="btn btn-circle btn-primary"
                                (click)="editAreaData(area.id)"
                            >
                                <mat-icon>{{
                                    cardItemXVM.cardItemActionListXVM
                                        .editButtonMatIcon
                                }}</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                class="btn btn-circle btn-warning"
                                (click)="deleteAreaData(area.id)"
                            >
                                <mat-icon>{{
                                    cardItemXVM.cardItemActionListXVM
                                        .deleteButtonMatIcon
                                }}</mat-icon>
                            </button>
                        </app-card-item-action-list>
                    </app-card-item>
                }
            </app-card-item-list>

            @if (totalAreaXData(); as data) {
                <app-card-group-summary class="grid col-span-full">
                    @let cardGroupSummaryXVM =
                        vM.cardGroupXVM.cardGroupSummaryXVM;
                    <app-card-group-summary-header class="grid grid-cols-3">
                        @for (
                            header of cardGroupSummaryXVM.cardGroupSummaryHeaderXVM;
                            track $index
                        ) {
                            <div>
                                {{ t(header) }}
                            </div>
                        }
                    </app-card-group-summary-header>
                    <app-card-group-summary-content class="grid grid-cols-3">
                        <div>
                            {{
                                t(
                                    cardGroupSummaryXVM
                                        .cardGroupSummaryContentXVM
                                        .totalTargetAreaSizeValueKey,
                                    {
                                        count: data.totalTargetAreaSize,
                                    }
                                )
                            }}
                        </div>
                        <div>
                            {{
                                t(
                                    cardGroupSummaryXVM
                                        .cardGroupSummaryContentXVM
                                        .totalTrichogrammaRequirementValueKey,
                                    {
                                        count: data.totalTrichogrammaRequirement,
                                    }
                                )
                            }}
                        </div>
                        <div>
                            {{
                                t(
                                    cardGroupSummaryXVM
                                        .cardGroupSummaryContentXVM
                                        .totalDistanceFromHeadOfficeValueKey,
                                    {
                                        count: data.totalDistanceFromHeadOffice,
                                    }
                                )
                            }}
                        </div>
                    </app-card-group-summary-content>
                </app-card-group-summary>
            }
        </app-card-group>
    }
</section>
