/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@layer components {
    .cluster {
        @apply flex flex-wrap;

        column-gap: var(--cluster-gap-x);
        row-gap: var(--cluster-gap-y);

        /* X-gap modifiers */
        &.gap-x-none {
            --cluster-gap-x: 0;
        }

        &.gap-x-xs {
            --cluster-gap-x: var(--layout-gap-xs);
        }

        &.gap-x-sm {
            --cluster-gap-x: var(--layout-gap-sm);
        }

        &.gap-x-md {
            --cluster-gap-x: var(--layout-gap-md);
        }

        &.gap-x-lg {
            --cluster-gap-x: var(--layout-gap-lg);
        }

        &.gap-x-xl {
            --cluster-gap-x: var(--layout-gap-xl);
        }

        &.gap-x-2xl {
            --cluster-gap-x: var(--layout-gap-2xl);
        }

        /* Y-gap modifiers */
        &.gap-y-none {
            --cluster-gap-y: 0;
        }

        &.gap-y-xs {
            --cluster-gap-y: var(--layout-gap-xs);
        }

        &.gap-y-sm {
            --cluster-gap-y: var(--layout-gap-sm);
        }

        &.gap-y-md {
            --cluster-gap-y: var(--layout-gap-md);
        }

        &.gap-y-lg {
            --cluster-gap-y: var(--layout-gap-lg);
        }

        &.gap-y-xl {
            --cluster-gap-y: var(--layout-gap-xl);
        }

        &.gap-y-2xl {
            --cluster-gap-y: var(--layout-gap-2xl);
        }
    }
}