<!-- app-hero.component.html -->
<section
  class="mt-10 h-[75vh] flex flex-col justify-center bg-no-repeat bg-right-top bg-cover sm:space-y-10 md:ml-60 transition-all"
  [style.backgroundImage]="'url(' + vm()?.backgroundImageSrc + ')'"
>
  <div class="flex flex-col mx-10 space-y-5">
    <h1>{{ vm()?.title }}</h1>
    <p>{{ vm()?.description }}</p>
    <div class="flex flex-col space-y-5 sm:flex-row sm:space-y-0 space-x-0 sm:space-x-5">
      <ng-content select="a, button" />
    </div>
  </div>
</section>
