@let vM = vm();

@switch (vM.type) {
    @case ('withInitials') {
        @let colors =
            [
                'bg-purple-200',
                'bg-red-200',
                'bg-green-200',
                'bg-blue-200',
                'bg-yellow-200',
            ];
        <div
            class="avatar"
            [ngClass]="
                colors[mapInitialsToRemainder(vM.initials, colors.length)]
            "
        >
            <span>{{ vM.initials }}</span>
        </div>
    }
    @case ('withImage') {
        <div class="avatar">
            <img [src]="vM.imageSrc" [alt]="vM.altTextKey | transloco" />
        </div>
    }
}
