@if (vm(); as vm) {
    <app-dashboard-spacer *transloco="let t">
        @for (gridXVM of vm.gridXVMs; track $index) {
            <app-grid-section *transloco="let t">
                <app-grid-section-header>
                    <h3 class="text-xl font-medium">
                        {{ t(gridXVM.titleKey) }}
                    </h3>
                </app-grid-section-header>
                <app-grid class="*:grid-cols-6">
                    <app-grid-header
                        class="grid grid-cols-subgrid col-span-full"
                    >
                        @for (header of gridXVM.headerKeys; track $index) {
                            <h4
                                class="uppercase xl:flex items-center text-gray-500 text-sm font-medium"
                            >
                                {{ t(header) }}
                            </h4>
                        }
                    </app-grid-header>
                    <app-grid-item-list
                        class="grid grid-cols-subgrid col-span-full"
                    >
                        @for (missionXVM of gridXVM.missionXVMs; track $index) {
                            <app-grid-item
                                class="grid grid-cols-subgrid xl:col-span-full"
                            >
                                <app-key-value [label]="missionXVM.id.labelKey">
                                    <app-value [vm]="missionXVM.id.valueVM" />
                                </app-key-value>

                                <app-key-value
                                    [label]="missionXVM.fieldName.labelKey"
                                >
                                    <app-value
                                        [vm]="missionXVM.fieldName.valueVM"
                                    />
                                </app-key-value>

                                <app-key-value
                                    [label]="missionXVM.areaInHa.labelKey"
                                >
                                    <app-value
                                        [vm]="missionXVM.areaInHa.valueVM"
                                    />
                                </app-key-value>

                                @switch (missionXVM.type) {
                                    @case ('assigned') {
                                        <app-key-value
                                            [label]="
                                                missionXVM.scheduledDate
                                                    .labelKey
                                            "
                                        >
                                            <app-value
                                                [vm]="
                                                    missionXVM.scheduledDate
                                                        .valueVM
                                                "
                                            />
                                        </app-key-value>

                                        <app-key-value
                                            [label]="missionXVM.status.labelKey"
                                            ><app-labeled-badge
                                                [ngClass]="{
                                                    '*:bg-blue-200 text-blue-700':
                                                        missionXVM.status
                                                            .badgeXVM.status ===
                                                        Status.PREPARING,
                                                    '*:bg-yellow-200 text-yellow-700':
                                                        missionXVM.status
                                                            .badgeXVM.status ===
                                                        Status.SCHEDULED,
                                                }"
                                                class="hidden xl:block"
                                                >{{
                                                    t(
                                                        missionXVM.status
                                                            .badgeXVM.textKey
                                                    )
                                                }}</app-labeled-badge
                                            >
                                            <app-value
                                                class="block xl:hidden"
                                                [vm]="missionXVM.status.valueVM"
                                            />
                                        </app-key-value>
                                    }
                                    @case ('completed') {
                                        <app-key-value
                                            [label]="
                                                missionXVM.completionDate
                                                    .labelKey
                                            "
                                        >
                                            <time>
                                                <app-value
                                                    [vm]="
                                                        missionXVM
                                                            .completionDate
                                                            .valueVM
                                                    "
                                                />
                                            </time>
                                        </app-key-value>

                                        <app-key-value
                                            [label]="
                                                missionXVM.performance.labelKey
                                            "
                                        >
                                            <app-labeled-badge
                                                class="hidden xl:block"
                                                [ngClass]="{
                                                    '*:bg-green-200 text-green-700':
                                                        missionXVM.performance
                                                            .badgeXVM
                                                            .performance ===
                                                            Performance.EXCELLENT ||
                                                        Performance.GOOD,
                                                }"
                                                >{{
                                                    t(
                                                        missionXVM.performance
                                                            .badgeXVM.textKey
                                                    )
                                                }}</app-labeled-badge
                                            >
                                            <app-value
                                                class="block xl:hidden"
                                                [vm]="
                                                    missionXVM.performance
                                                        .valueVM
                                                "
                                            />
                                        </app-key-value>
                                    }
                                }
                                <app-key-value
                                    [label]="missionXVM.anchorXVM.labelKey"
                                >
                                    <a
                                        class="text-blue-700"
                                        [routerLink]="
                                            missionXVM.anchorXVM.routerLink
                                        "
                                        >{{
                                            t(missionXVM.anchorXVM.textKey)
                                        }}</a
                                    >
                                </app-key-value>
                            </app-grid-item>
                        }
                    </app-grid-item-list>
                </app-grid>
            </app-grid-section>
        }
    </app-dashboard-spacer>
}
