@if (vm(); as vm) {
    <app-dialog-layout
        *transloco="let t"
        class="w-80 md:w-96 block"
        (close)="onCancelClick()"
        [vm]="vm"
    >
        <p>{{ t(vm.confirmTextKey) }}</p>
        <app-button [vm]="vm.confirmButtonXVM" (click)="onConfirmClick()">
            @if (vm.confirmButtonXVM.textKey) {
                <span>{{ t(vm.confirmButtonXVM.textKey) }}</span>
            }
        </app-button>
        <app-button [vm]="vm.cancelButtonXVM" (click)="onCancelClick()">
            @if (vm.cancelButtonXVM.textKey) {
                <span>{{ t(vm.cancelButtonXVM.textKey) }}</span>
            }
        </app-button>
    </app-dialog-layout>
}
