@let vM = vm();
<dialog class="my-dialog" #dialog *transloco="let t">
    <app-dialog-layout class="w-80 md:w-96 block">
        <h2>
            {{ t(vM.titleKey) }}
        </h2>
        <p>{{ t(vM.confirmTextKey) }}</p>
        <app-button [vm]="vM.closeButtonXVM" (click)="cancelClick()" close>
            @if (vM.closeButtonXVM.icon; as icon) {
                <mat-icon>{{ icon }}</mat-icon>
            }
        </app-button>
        <app-button [vm]="vM.confirmButtonXVM" (click)="submitClick()">
            @if (vM.confirmButtonXVM.textKey; as textKey) {
                {{ t(textKey) }}
            }
        </app-button>
        <app-button [vm]="vM.cancelButtonXVM" (click)="cancelClick()">
            @if (vM.cancelButtonXVM.textKey; as textKey) {
                {{ t(textKey) }}
            }
        </app-button>
    </app-dialog-layout>
</dialog>
