<app-hero [vm]="vm().heroVM">
  <h1>The future of irrigation is now</h1>
  <p>IRRIOT is a completely wireless precision irrigation automation system</p>
  <a href="" class="primary">Contact Us</a>
  <a href="" class="secondary">Learn More</a>
</app-hero>

@if (vm().productListVM.productItems.length > 0) {
  <app-product>
    <h2>Our Products</h2>
    <app-product-list>
      @for (product of vm().productListVM.productItems; track $index) {
        <app-product-item
          [vm]="product"
          [routerLink]="[vm().productListVM.link, $index]"
        ></app-product-item>
      }
    </app-product-list>
  </app-product>
}
