@if (vm(); as vm) {
    <div class="min-h-screen flex flex-col">
        @let headerXVM = vm.headerXVM;
        @if (!headerXVM.hidden) {
            <app-header>
                <app-logo
                    [vm]="headerXVM.logoXVM"
                    [routerLink]="headerXVM.logoXVM.routerLink"
                    class="cursor-pointer"
                />
                <app-nav>
                    @for (navItemXVM of headerXVM.navItemXVMs; track $index) {
                        <ng-container
                            [ngTemplateOutlet]="
                                isWithLink(navItemXVM)
                                    ? withLink
                                    : withRouterLink
                            "
                            [ngTemplateOutletContext]="{ navItemXVM }"
                        >
                        </ng-container>
                    }
                    @if (!headerXVM.signOutButtonXVM.hidden) {
                        <app-button
                            [vm]="headerXVM.signOutButtonXVM"
                            (click)="signOut()"
                        >
                            <mat-icon>{{
                                headerXVM.signOutButtonXVM.icon
                            }}</mat-icon>
                        </app-button>
                    }
                </app-nav>
            </app-header>
        }
        <div class="flex-grow mt-72 md:mt-25"><router-outlet /></div>
    </div>

    <ng-template #withLink let-vm="navItemXVM">
        <a
            [href]="vm.link.href"
            [rel]="vm.link.rel ? vm.link.rel?.join(' ') : defaultRel"
            [target]="vm.link.target ? vm.link.target : defaultTarget"
            class="nav-item"
        >
            {{ vm.textKey | transloco }}
        </a>
    </ng-template>

    <ng-template #withRouterLink let-vm="navItemXVM">
        <a
            [routerLink]="vm.routerLink"
            [fragment]="vm.fragment"
            class="nav-item"
            >{{ vm.textKey | transloco }}</a
        >
    </ng-template>
}
