<div class="flex space-x-10 bg-slate-400 h-[75vh]">
  <div class="bg-slate-200 w-1/2 flex justify-end items-center h-full">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="border-2 border-black w-1/2">
      <label for="email" class="text-xl font-semibold">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="block border-2 border-black rounded-lg w-full py-2 mb-5"
      />
      <label for="password" class="text-xl font-semibold">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="block border-2 border-black rounded-lg w-full py-2 mb-5"
      />
      <button type="submit" class="bg-green-800 w-full py-2 px-5 rounded-lg">Sign Up</button>
      <div>Already have an account? Log in</div>
    </form>
  </div>
  <div
    class="w-1/2 bg-cover bg-no-repeat rounded-2xl h-full"
    [style.backgroundImage]="'url(assets/farming.jpg)'"
  ></div>
</div>
