@let vM = vm();
<div class="flex flex-col space-y-4">
    <ng-content select="h4" />
    <div
        class="flex"
        [ngClass]="{
            'flex-row': vM.orientation === 'horizontal',
            'flex-col': vM.orientation === 'vertical',
            'flex-wrap': vM.align === 'wrap',
            'justify-between': vM.align === 'between',
            'justify-normal': vM.align === 'normal',
            'gap-2': vM.gap === 'small',
            'gap-4': vM.gap === 'medium',
            'gap-6': vM.gap === 'large',
            'gap-0': vM.gap === 'none',
        }"
    >
        <ng-content />
    </div>
</div>
