<app-page-section>
    @if (vm(); as vm) {
        @if (vm.heroXVM; as heroXVM) {
            <app-hero [vm]="heroXVM" *transloco="let t">
                <h1>{{ t(heroXVM.titleKey) }}</h1>
                <p>{{ t(heroXVM.descriptionKey) }}</p>
                <a href="" class="btn btn-primary">{{
                    t(heroXVM.primaryButtonLabelKey)
                }}</a>
                <a href="" class="btn btn-default">{{
                    t(heroXVM.secondaryButtonLabelKey)
                }}</a>
            </app-hero>
        }

        @for (frameVM of vm.frameXVMs; track $index) {
            <ng-container
                [ngTemplateOutlet]="
                    isProductFrame(frameVM) ? productFrame : partnerFrame
                "
                [ngTemplateOutletContext]="{ frameVM }"
            ></ng-container>
        }
    } @else {
        Loading...
    }
</app-page-section>

<ng-template #productFrame let-vm="frameVM">
    <app-frame [id]="vm.id" [vm]="vm">
        <app-product-list>
            @for (item of vm.productItemXVMs; track $index) {
                <app-product-item [vm]="item" [routerLink]="item.routerLink" />
            }
        </app-product-list>
    </app-frame>
</ng-template>

<ng-template #partnerFrame let-vm="frameVM">
    <app-frame [id]="vm.id" [vm]="vm">
        @if (vm.partnerLogoXVMs; as partnerLogoXVMs) {
            <app-partner-list>
                @for (logo of partnerLogoXVMs; track $index) {
                    @if (logo.link; as link) {
                        <a
                            [href]="link.href"
                            [rel]="(link.rel ?? defaultRel).join(' ')"
                            [target]="link.target ?? defaultTarget"
                        >
                            <app-partner-logo [vm]="logo" />
                        </a>
                    } @else {
                        <app-partner-logo [vm]="logo" />
                    }
                }
            </app-partner-list>
        }
        @if (vm.testimonialItemVMs) {
            <swiper-container
                keyboard="true"
                pagination="true"
                pagination-clickable="true"
                pagination-dynamic-bullets="true"
                autoplay-delay="2500"
                autoplay-disable-on-interaction="false"
                class="w-full sm:w-2/3 md:w-1/2"
                space-between="30"
            >
                @for (testimonial of vm.testimonialItemVMs; track $index) {
                    <swiper-slide class="pb-10">
                        <app-testimonial-item [vm]="testimonial" />
                    </swiper-slide>
                }
            </swiper-container>
        }
    </app-frame>
</ng-template>
