@if (vm(); as vm) {
    @if (vm.heroXVM; as heroXVM) {
        <app-hero [vm]="heroXVM">
            <h1>{{ heroXVM.titleKey | transloco }}</h1>
            <p>{{ heroXVM.descriptionKey | transloco }}</p>
            <a href="" class="primary">{{
                heroXVM.primaryButtonLabelKey | transloco
            }}</a>
            <a href="" class="secondary">{{
                heroXVM.secondaryButtonLabelKey | transloco
            }}</a>
        </app-hero>
    }

    @for (frameVM of vm.frameXVMs; track $index) {
        @switch (frameVM.type) {
            @case ('productFrame') {
                <ng-container
                    [ngTemplateOutlet]="productFrame"
                    [ngTemplateOutletContext]="{ frameVM }"
                ></ng-container>
            }
            @case ('partnerAndTestimonialFrame') {
                <ng-container
                    [ngTemplateOutlet]="partnerAndTestimonialFrame"
                    [ngTemplateOutletContext]="{ frameVM }"
                ></ng-container>
            }
            @case ('contactFrame') {
                <ng-container
                    [ngTemplateOutlet]="contactFrame"
                    [ngTemplateOutletContext]="{ frameVM }"
                ></ng-container>
            }
        }
    }
} @else {
    Loading...
}

<ng-template #productFrame let-vm="frameVM">
    <app-frame [id]="vm.id">
        <h2>{{ vm.titleKey | transloco }}</h2>
        <app-product-list>
            @for (item of vm.productItemXVMs; track $index) {
                <app-product-item [vm]="item" [routerLink]="item.routerLink" />
            }
        </app-product-list>
    </app-frame>
</ng-template>

<ng-template #partnerAndTestimonialFrame let-vm="frameVM">
    <app-frame [id]="vm.id">
        <h2>{{ vm.titleKey | transloco }}</h2>
        @if (vm.partnerLogoXVMs; as partnerLogoXVMs) {
            <app-partner-list>
                @for (logo of partnerLogoXVMs; track $index) {
                    @if (logo.link; as link) {
                        <a
                            [href]="link.href"
                            [rel]="(link.rel ?? defaultRel).join(' ')"
                            [target]="link.target ?? defaultTarget"
                        >
                            <app-partner-logo [vm]="logo" />
                        </a>
                    } @else {
                        <app-partner-logo [vm]="logo" />
                    }
                }
            </app-partner-list>
        }
        @if (vm.testimonialItemVMs) {
            <swiper-container
                keyboard="true"
                pagination="true"
                pagination-clickable="true"
                pagination-dynamic-bullets="true"
                autoplay-delay="2500"
                autoplay-disable-on-interaction="false"
                class="w-full sm:w-2/3 md:w-1/2"
                space-between="30"
            >
                @for (testimonial of vm.testimonialItemVMs; track $index) {
                    <swiper-slide class="pb-10">
                        <app-testimonial-item [vm]="testimonial" />
                    </swiper-slide>
                }
            </swiper-container>
        }
    </app-frame>
</ng-template>

<ng-template #contactFrame let-vm="frameVM">
    <div [style]="'background-image: url(' + vm.backgroundImageSrc + ')'">
        <app-frame [id]="vm.id" [vm]="vm">
            <div
                class="flex flex-col lg:flex-row space-y-10 lg:space-y-0 justify-between w-full"
            >
                <h2 class="text-white">{{ vm.titleKey | transloco }}</h2>
                <div
                    class="w-4/5 md:w-3/5 lg:w-2/5 mx-auto lg:mx-0 bg-white p-5"
                >
                    @let formVM = vm.contactFormXVM;
                    <form
                        [formGroup]="messageForm"
                        (ngSubmit)="sendMessage()"
                        class="flex flex-col items-end"
                    >
                        <input
                            id="name"
                            type="name"
                            [placeholder]="formVM.nameKey | transloco"
                            formControlName="name"
                            class="custom-input"
                        />
                        <input
                            id="email"
                            type="email"
                            placeholder="Email"
                            formControlName="email"
                            class="custom-input"
                        />
                        <input
                            [placeholder]="formVM.subjectKey | transloco"
                            formControlName="subject"
                            class="custom-input"
                        />
                        <textarea
                            [placeholder]="formVM.messageKey | transloco"
                            formControlName="message"
                            class="custom-input h-40 resize-none"
                        >
                        </textarea>
                        <button
                            type="submit"
                            [disabled]="messageForm.invalid"
                            [ngClass]="[
                                messageForm.valid
                                    ? 'bg-black hover:bg-zinc-800 cursor-pointer'
                                    : 'bg-gray-400 cursor-not-allowed opacity-50',
                            ]"
                            class="text-white h-10 px-4 py-2"
                        >
                            {{ formVM.buttonTitleKey | transloco }}
                        </button>
                    </form>
                </div>
            </div>
        </app-frame>
    </div>
</ng-template>
