<dialog #dialog>
    @if (vm(); as vm) {
        <app-dialog-layout class="w-80 md:w-96 block" *transloco="let t">
            <app-page-header>
                <h2>
                    {{ t(vm.titleKey) }}
                </h2>
                <app-button
                    actionGroup
                    [vm]="vm.closeButtonXVM"
                    (click)="cancel()"
                    close
                >
                    @if (vm.closeButtonXVM.icon; as icon) {
                        <mat-icon>{{ icon }}</mat-icon>
                    }
                </app-button>
            </app-page-header>
            <p>{{ t(vm.confirmTextKey) }}</p>
            <app-button [vm]="vm.confirmButtonXVM" (click)="submit()">
                @if (vm.confirmButtonXVM.textKey; as textKey) {
                    {{ t(textKey) }}
                }
            </app-button>
            <app-button [vm]="vm.cancelButtonXVM" (click)="cancel()">
                @if (vm.cancelButtonXVM.textKey; as textKey) {
                    {{ t(textKey) }}
                }
            </app-button>
        </app-dialog-layout>
    }
</dialog>
