<div *transloco="let t">
    @let vM = vm();
    <label
        [for]="vM.id"
        [hidden]="!vM.labelKey"
        class="label"
        [ngClass]="{ invalid: invalid() }"
    >
        @if (vM.labelKey; as labelKey) {
            {{ t(labelKey) }}
        }
    </label>
    <div class="flex flex-row">
        <input
            class="input"
            [ngClass]="{ invalid: invalid(), disabled: disabled() }"
            [type]="vM.type"
            [id]="vM.id"
            [value]="value()"
            [disabled]="disabled()"
            [placeholder]="t(vM.placeholderKey)"
            (blur)="markAsTouched()"
            (input)="changed($event)"
            [readonly]="vM.readonly"
            [autocomplete]="vM.autocomplete"
        />
        <ng-content select="app-button" />
    </div>

    <div class="grid grid-cols-2">
        <span class="helper-text" [ngClass]="{ invalid: invalid() }">
            <ng-content select="[leftAssistiveText]" />
        </span>
        <span class="helper-text text-right" [ngClass]="{ invalid: invalid() }">
            <ng-content select="[rightAssistiveText]" />
        </span>
    </div>
</div>
