@let hasRequiredError =
    reasonControl.dirty && reasonControl.hasError('required');
@let hasEmptyStringError =
    reasonControl.dirty &&
    !reasonControl.hasError('required') &&
    reasonControl.hasError('emptyString');
@let submitButtonDisabled =
    reasonControl.disabled ||
    reasonControl.hasError('emptyString') ||
    reasonControl.hasError('required');

<dialog #myDialog class="w-2xl" (close)="reasonControl.reset()">
    @if (vm(); as vm) {
        <app-dialog-layout *transloco="let t">
            <app-page-header>
                <h2>{{ t(vm.titleKey) }}</h2>
                <app-button
                    [vm]="vm.closeButtonXVM"
                    (click)="myDialog.close()"
                    actionGroup
                >
                    <mat-icon>{{ vm.closeButtonXVM.icon }}</mat-icon>
                </app-button>
            </app-page-header>

            <p>{{ t(vm.confirmationTextKey) }}</p>

            <app-input-textarea
                [vm]="vm.reasonInputTextareaXVM"
                [formControl]="reasonControl"
                [invalid]="hasRequiredError || hasEmptyStringError"
            >
                @if (hasRequiredError) {
                    <span leftAssistiveText>
                        {{ t(vm.requiredAssistiveTextKey) }}
                    </span>
                }
                @if (hasEmptyStringError) {
                    <span leftAssistiveText>
                        {{ t(vm.emptyStringAssistiveTextKey) }}
                    </span>
                }
            </app-input-textarea>

            <app-button
                [vm]="vm.confirmButtonXVM"
                [disabled]="submitButtonDisabled"
                (click)="!submitButtonDisabled && submit()"
            >
                @if (vm.confirmButtonXVM.textKey; as textKey) {
                    {{ t(textKey) }}
                }
            </app-button>

            <app-button [vm]="vm.cancelButtonXVM" (click)="cancel()">
                @if (vm.cancelButtonXVM.textKey; as textKey) {
                    {{ t(textKey) }}
                }
            </app-button>
        </app-dialog-layout>
    }
</dialog>
