<dialog
    #dialog
    class="lg:w-3/4 w-full h-full"
    (close)="[area.set(undefined), formGroup.reset(), textFormGroup.reset()]"
>
    @if (vm(); as vm) {
        <app-dialog-layout *transloco="let t">
            <app-page-header>
                <h2>
                    {{ t(area() ? vm.editTitleKey : vm.addTitleKey) }}
                </h2>
                <!-- Close button start -->
                <app-button
                    actionGroup
                    [vm]="vm.closeButtonXVM"
                    (click)="
                        [response.emit({ type: 'cancel' }), dialog.close()]
                    "
                >
                    <mat-icon>{{ vm.closeButtonXVM.icon }}</mat-icon>
                </app-button>
                <!-- Close button end -->
            </app-page-header>

            <form [formGroup]="formGroup">
                <!-- Mission name input start -->
                @let hasMissionNameMaxLengthError =
                    formGroup.controls.name.hasError('maxlength');

                @let hasMissionNameRequiredError =
                    formGroup.controls.name.hasError('required') &&
                    formGroup.controls.name.dirty;
                <app-input-text
                    [vm]="vm.missionNameInputTextXVM"
                    [invalid]="
                        hasMissionNameMaxLengthError ||
                        hasMissionNameRequiredError
                    "
                    [formControl]="formGroup.controls.name"
                >
                    @if (hasMissionNameMaxLengthError) {
                        <span leftAssistiveText>{{
                            t(
                                vm.missionNameMaxCharactersAllowedAssistiveTextValueKey,
                                {
                                    max: missionNameMaxLength,
                                }
                            )
                        }}</span>
                    }
                    @if (hasMissionNameRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                    <span rightAssistiveText>{{
                        t(
                            vm.missionNameMaxCharactersCounterAssistiveTextValueKey,
                            {
                                current:
                                    formGroup.controls.name.value?.length ?? 0,
                                max: missionNameMaxLength,
                            }
                        )
                    }}</span>
                </app-input-text>
                <!-- Mission name input end -->

                <!-- Entry point form control start -->
                @let entryPointControl = formGroup.controls.entryPoint;
                <app-advanced-marker-form-control
                    #entryPointFormControl
                    [formControl]="entryPointControl"
                />
                <!-- Entry point form control end -->

                <!-- Target area form control start -->
                @let targetAreaControl = formGroup.controls.targetArea;
                <app-polygon-form-control
                    #targetAreaFormControl
                    [formControl]="targetAreaControl"
                />
                <!-- Target area form control end -->

                <!-- Tabs start -->
                @let visualTabItemVM = vm.mapTabsXVM.visualTabItemVM;
                @let textTabItemVM = vm.mapTabsXVM.textTabItemVM;
                <app-tabs [vm]="vm.mapTabsXVM" [appTabs]="vm.mapTabsXVM.index">
                    <!-- Tabs nav start -->
                    <app-tabs-nav>
                        <!-- Visual editor tab button start -->
                        <app-tab-button
                            class="w-full"
                            [dataTabId]="visualTabItemVM.id"
                            (click)="
                                [
                                    setMapTargetAreaFromText(),
                                    setMapEntryPointFromText(),
                                ]
                            "
                            ><mat-icon>{{
                                visualTabItemVM.tabButtonXVM.icon
                            }}</mat-icon>
                            {{
                                t(visualTabItemVM.tabButtonXVM.textKey)
                            }}</app-tab-button
                        >
                        <!-- Visual editor tab button end -->

                        <!-- Text editor tab button start -->
                        <app-tab-button
                            class="w-full"
                            [dataTabId]="textTabItemVM.id"
                            (click)="
                                [
                                    setTextEntryPointFromValue(
                                        entryPointControl.value
                                    ),
                                    setTextTargetAreaFromValue(
                                        targetAreaControl.value
                                    ),
                                ]
                            "
                        >
                            <mat-icon>{{
                                textTabItemVM.tabButtonXVM.icon
                            }}</mat-icon>
                            {{
                                t(textTabItemVM.tabButtonXVM.textKey)
                            }}</app-tab-button
                        >
                        <!-- Text editor tab button end -->
                    </app-tabs-nav>
                    <!-- Tabs nav end -->

                    <!-- Visual editor tab panel start -->
                    <app-tab-panel [id]="visualTabItemVM.id">
                        @let gmpMapXVM = visualTabItemVM.content;
                        @let view =
                            area()?.entryPoint ??
                            vm.actualPosition ??
                            headOfficeLocation;

                        <app-gmp-map
                            #map
                            class="h-96 block"
                            [view]="view"
                            [interactive]="true"
                            appGmpInfoWindow
                            #infoWindow="gmpInfoWindow"
                            appGmpPlaceAutocomplete
                            (locationChange)="
                                innerMap.fitBounds($event.viewPort)
                            "
                            appGmpPolygonDrawing
                            [polygonInput]="
                                targetAreaControl.value
                                    ? {
                                          coordinates: targetAreaControl.value,
                                          colors: gmpMapXVM.polygonColors,
                                      }
                                    : null
                            "
                            [polygonEditable]="
                                targetAreaControl.enabled &&
                                !vm.isTargetAreaReadonly &&
                                gmpMapXVM.polygonContextMenuVM
                            "
                            (polygonChange)="
                                [
                                    polygonWindow.setOptions({
                                        position: $event.metadata.center,
                                        content: t(gmpMapXVM.contentValueKey, {
                                            count: $event.metadata.sizeInHq,
                                        }),
                                    }),
                                    polygonWindow.open({ map: innerMap }),
                                    targetAreaFormControl.writeValue(
                                        $event.coordinates
                                    ),
                                    $event.action === 'draw' &&
                                        $event.metadata.bounds &&
                                        innerMap.fitBounds(
                                            $event.metadata.bounds
                                        ),
                                ]
                            "
                            [appGmpAdvancedMarker]="
                                entryPointControl.value
                                    ? {
                                          coordinates: entryPointControl.value,
                                      }
                                    : null
                            "
                            [markerEditable]="
                                entryPointControl.enabled &&
                                !vm.isEntryPointReadonly
                            "
                            (markerChange)="
                                entryPointFormControl.writeValue(
                                    $event.position
                                )
                            "
                        >
                            @let center = map.actualCenter();
                            @let innerMap = map.map();
                            @let polygonWindow = infoWindow.infoWindow;
                            @let addPolygonButtonXVM =
                                gmpMapXVM.addPolygonButtonXVM;
                            @let removeAdvancedMarkerButtonXVM =
                                gmpMapXVM.removeAdvancedMarkerButtonXVM;
                            @let addAdvancedMarkerButtonXVM =
                                gmpMapXVM.addAdvancedMarkerButtonXVM;

                            <app-stack
                                orientation="vertical"
                                class="ml-2.5 mb-10"
                            >
                                @if (
                                    center &&
                                    !vm.isTargetAreaReadonly &&
                                    targetAreaControl.invalid
                                ) {
                                    <!-- Add new polygon button start -->
                                    <app-button
                                        [vm]="addPolygonButtonXVM"
                                        [disabled]="targetAreaControl.disabled"
                                        class="*:rounded-b-none"
                                        (click)="
                                            setTargetAreaFormControlFromCenter(
                                                center
                                            )
                                        "
                                    >
                                        <mat-icon>{{
                                            addPolygonButtonXVM.icon
                                        }}</mat-icon>
                                    </app-button>
                                    <!-- Add new polygon button end -->
                                }
                                @if (!vm.isEntryPointReadonly) {
                                    @if (entryPointControl.invalid) {
                                        <!-- Add new advanced marker button start -->
                                        <app-button
                                            [vm]="addAdvancedMarkerButtonXVM"
                                            (click)="
                                                [
                                                    entryPointFormControl.writeValue(
                                                        center
                                                    ),
                                                ]
                                            "
                                            [ngClass]="{
                                                '*:rounded-t-none':
                                                    targetAreaControl.invalid,
                                            }"
                                        >
                                            <mat-icon>{{
                                                addAdvancedMarkerButtonXVM.icon
                                            }}</mat-icon>
                                        </app-button>
                                        <!-- Add new advanced marker button end -->
                                    } @else {
                                        <!-- Remove advanced marker button start -->
                                        <app-button
                                            [vm]="removeAdvancedMarkerButtonXVM"
                                            (click)="
                                                entryPointFormControl.writeValue(
                                                    null
                                                )
                                            "
                                            [ngClass]="{
                                                '*:rounded-t-none':
                                                    targetAreaControl.invalid,
                                            }"
                                        >
                                            <mat-icon>{{
                                                removeAdvancedMarkerButtonXVM.icon
                                            }}</mat-icon>
                                        </app-button>
                                        <!-- Remove advanced marker button end -->
                                    }
                                }
                            </app-stack>
                        </app-gmp-map>
                    </app-tab-panel>
                    <!-- Visual editor tab panel end -->

                    <!-- Text editor tab panel start -->
                    <app-tab-panel [id]="textTabItemVM.id">
                        <!-- Target area textarea input start -->
                        @let hasTargetAreaInvalidError =
                            textFormGroup.controls.targetArea.invalid &&
                            !!textFormGroup.controls.targetArea.value;
                        <app-input-textarea
                            [vm]="
                                textTabItemVM.content.targetAreaInputTextareaXVM
                            "
                            [invalid]="hasTargetAreaInvalidError"
                            [formControl]="textFormGroup.controls.targetArea"
                        >
                            @if (hasTargetAreaInvalidError) {
                                <span leftAssistiveText>{{
                                    t(
                                        textTabItemVM.content
                                            .targetAreaInvalidTextKey,
                                        { count: minimumTargetAreaCoords }
                                    )
                                }}</span>
                            }
                        </app-input-textarea>
                        <!-- Target area textarea input end -->

                        <!-- Entry point text input start -->
                        @let hasEntryPointInvalidError =
                            textFormGroup.controls.entryPoint.invalid &&
                            !!textFormGroup.controls.entryPoint.value;
                        <app-input-text
                            [vm]="textTabItemVM.content.entryPointInputTextXVM"
                            [invalid]="hasEntryPointInvalidError"
                            [formControl]="textFormGroup.controls.entryPoint"
                        >
                            @if (hasEntryPointInvalidError) {
                                <span leftAssistiveText>{{
                                    t(
                                        textTabItemVM.content
                                            .entryPointInvalidTextKey
                                    )
                                }}</span>
                            }
                        </app-input-text>
                        <!-- Entry point text input end -->
                    </app-tab-panel>
                    <!-- Text editor tab panel end -->
                </app-tabs>
                <!-- Tabs end -->

                <!-- Dose per hq input start -->
                @let hasDosePerHqMinError =
                    formGroup.controls.dosePerHq.dirty &&
                    formGroup.controls.dosePerHq.hasError('min');

                <app-input-number
                    [vm]="vm.dosePerHqInputTextXVM"
                    [invalid]="hasDosePerHqMinError"
                    [formControl]="formGroup.controls.dosePerHq"
                >
                    @if (hasDosePerHqMinError) {
                        <span leftAssistiveText>{{
                            t(vm.dosePerHqMinErrorAssistiveTextValueKey, {
                                min: dosePerHqMin,
                            })
                        }}</span>
                    }
                </app-input-number>
                <!-- Dose per hq input end -->

                <!-- Application date input start-->
                @let hasApplicationDateRequiredError =
                    formGroup.controls.applicationDate.hasError('required') &&
                    formGroup.controls.applicationDate.dirty;

                <app-input-text
                    [vm]="vm.applicationDateInputTextXVM"
                    [invalid]="hasApplicationDateRequiredError"
                    [formControl]="formGroup.controls.applicationDate"
                >
                    @if (hasApplicationDateRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                </app-input-text>
                <!-- Application date input end-->

                <!-- Comment input start -->
                <app-input-textarea
                    [vm]="vm.commentInputTextareaXVM"
                    [formControl]="formGroup.controls.comment"
                />
                <!-- Comment input end -->
            </form>

            <app-stack orientation="horizontal" footerActionGroup>
                <!-- Submit button start -->
                <app-button
                    class="*:rounded-r-none"
                    [vm]="vm.confirmButtonXVM"
                    [disabled]="formGroup.invalid"
                    (click)="submit()"
                >
                    {{ t(vm.confirmButtonXVM.textKey) }}
                </app-button>
                <!-- Submit button end -->

                <!-- Cancel button start -->
                <app-button
                    class="*:rounded-l-none"
                    [vm]="vm.cancelButtonXVM"
                    (click)="cancel()"
                >
                    {{ t(vm.cancelButtonXVM.textKey) }}
                </app-button>
                <!-- Cancel button end -->
            </app-stack>
        </app-dialog-layout>
    }
</dialog>
