@if (vm()?.loginFormXVM; as vm) {
    <section
        class="flex flex-col items-center justify-center min-h-screen px-4 md:px-0"
        *transloco="let t"
    >
        <app-login-form [vm]="vm">
            @if (vm.errorMessageKey; as messageKey) {
                <p class="text-red-500 text-sm">
                    {{ t(messageKey) }}
                </p>
            }
            <form [formGroup]="formGroup">
                <!-- Email input start-->
                @let hasEmailRequiredError =
                    formGroup.controls.email.hasError('required') &&
                    formGroup.controls.email.dirty;
                <app-input-text
                    [vm]="vm.emailInputTextXVM"
                    [invalid]="hasEmailRequiredError"
                    [formControl]="formGroup.controls.email"
                >
                    @if (hasEmailRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                </app-input-text>
                <!-- Email input end -->

                <!-- Password input start -->
                @let hasPasswordRequiredError =
                    formGroup.controls.password.hasError('required') &&
                    formGroup.controls.password.dirty;
                <app-input-text
                    [vm]="vm.passwordInputTextXVM"
                    [invalid]="hasPasswordRequiredError"
                    [formControl]="formGroup.controls.password"
                >
                    @if (hasPasswordRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                </app-input-text>
                <!-- Password input end -->

                @defer (on immediate) {
                    <app-button
                        [vm]="vm.submitButtonXVM"
                        [disabled]="formGroup.invalid"
                        (click)="signIn()"
                    >
                        @if (vm.submitButtonXVM.textKey; as textKey) {
                            {{ t(textKey) }}
                        }
                    </app-button>
                }
            </form>
        </app-login-form>
    </section>
}
