@if (vm(); as vm) {
    <div class="flex items-center justify-center min-h-screen">
        <app-login-form [vm]="vm.loginFormXVM.loginFormVM">
            <h3>
                {{ vm.loginFormXVM.titleKey | transloco }}
            </h3>
            <p>{{ vm.loginFormXVM.descriptionKey | transloco }}</p>
            <form
                [formGroup]="loginForm"
                (ngSubmit)="signIn()"
                class="w-full max-w-md mx-auto"
            >
                <input
                    id="email"
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    class="block rounded-full py-4 px-5 mb-5 w-full bg-gray-200"
                />
                <input
                    id="password"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    class="block rounded-full py-4 px-5 mb-5 w-full bg-gray-200"
                />
                <button
                    type="submit"
                    [disabled]="!loginForm.valid"
                    [ngClass]="[loginForm.valid ? 'primary' : 'disabled']"
                    class="btn btn-primary"
                >
                    {{
                        (
                            vm.loginFormXVM.buttonTitleKey | transloco
                        ).toUpperCase()
                    }}
                </button>
            </form>
        </app-login-form>
    </div>
}
