@let vM = vm();

<div class="flex flex-col space-y-4 bg-white" *transloco="let t">
    <div class="flex flex-col w-1/2">
        <label for="coordinates">{{ t(vM.coordinatesLabelKey) }}</label>
        <textarea
            [id]="coordinatesControl"
            [formControl]="coordinatesControl"
            class="p-2 border rounded-md min-h-32"
            [ngClass]="{
                'border-red-200 bg-red-100':
                    coordinatesControl.invalid && coordinatesControl.dirty,
            }"
        ></textarea>
    </div>

    <div class="join">
        <app-button
            [vm]="vM.addButtonVM"
            (clicked)="drawPolygon(null)"
            [state]="polygonPathsSignal() ? 'disabled' : 'default'"
        />

        <app-button
            [vm]="vM.editButtonVM"
            (clicked)="editPolygon()"
            [state]="canBeEdited() ? 'default' : 'disabled'"
        />

        <app-button
            [vm]="vM.deleteButtonVM"
            (clicked)="deletePolygon()"
            [state]="polygonPathsSignal() ? 'default' : 'disabled'"
        />
    </div>
</div>
