@let vM = vm();

<div class="flex flex-col space-y-4 bg-white" *transloco="let t">
    <div class="flex flex-col w-1/2">
        <label for="coordinates">{{ t(vM.coordinatesLabelKey) }}</label>
        <textarea
            [id]="coordinatesControl"
            [formControl]="coordinatesControl"
            class="p-2 border rounded-md min-h-32"
            [ngClass]="{
                'border-red-200 bg-red-100':
                    coordinatesControl.invalid && coordinatesControl.dirty,
            }"
        ></textarea>
    </div>

    <div class="join">
        <app-button
            [vm]="vM.addButtonXVM"
            [disabled]="!!polygonPathsSignal()"
            (click)="drawPolygon(null)"
        >
            @if (vM.addButtonXVM.textKey) {
                <span>{{ t(vM.addButtonXVM.textKey) }}</span>
            }
        </app-button>

        <app-button
            [vm]="vM.editButtonXVM"
            [disabled]="!canBeEdited()"
            (click)="editPolygon()"
        >
            @if (vM.editButtonXVM.textKey) {
                <span>{{ t(vM.editButtonXVM.textKey) }}</span>
            }
        </app-button>

        <app-button
            [vm]="vM.deleteButtonXVM"
            [disabled]="!polygonPathsSignal()"
            (click)="deletePolygon()"
        >
            @if (vM.deleteButtonXVM.textKey) {
                <span>{{ t(vM.deleteButtonXVM.textKey) }}</span>
            }
        </app-button>
    </div>
</div>
