/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable import-notation */
/* stylelint-disable at-rule-empty-line-before */

@import "tailwindcss";

@import './app/shared/components/cluster/cluster.component.css';

@import './app/shared/components/stack/stack.component.css';

@import './app/shared/components/button/button.component.css';

/* 
Primitive tokens (Tier-1): 
    - Has no semantic meaning, just the raw values 
*/
:root {
    /* Spacing scale */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;
    --space-24: 96px;

    /* Transform scale */
    --scale-sm: 95%
}

/* 
Semantic tokens (Tier-2):
    - Values with semantic meaning 
*/
@theme {
    /* Text semantic colors */
    --text-inverse: var(--color-white);

    /* Interactive semantic colors */
    --interactive-primary: var(--color-blue-500);
    --interactive-primary-hover: var(--color-blue-600);
    --interactive-primary-inverse-hover: var(--color-blue-100);
    --interactive-secondary: var(--color-orange-500);
    --interactive-secondary-hover: var(--color-orange-600);
    --interactive-secondary-inverse-hover: var(--color-orange-100);
    --interactive-scale-active: var(--scale-sm);

    /* State semantic colors */
    --state-primary-disabled: var(--color-blue-100);
    --state-secondary-disabled: var(--color-orange-100);

    /* Layout gap semantic scales */
    --layout-gap-xs: var(--space-2);
    --layout-gap-sm: var(--space-4);
    --layout-gap-md: var(--space-6);
    --layout-gap-lg: var(--space-8);
    --layout-gap-xl: var(--space-12);
    --layout-gap-2xl: var(--space-16);

    /* Component gap semantic scales */
    --component-gap-xs: var(--space-1);
    --component-gap-sm: var(--space-2);
    --component-gap-md: var(--space-4);
    --component-gap-lg: var(--space-6);
    --component-gap-xl: var(--space-8);
}

@theme {
    --active-order: #16a34a;
    --in-progress-order: #3b82f6;
    --new-order: #22c55e;
    --closed-order: #f59e0b;
    --done-order: #6b7280;
    --new-mission: #e0f7fa;
    --scheduled-mission: #ffe0b2;
    --accepted-mission: #c8e6c9;
    --rejected-mission: #ffcdd2;
    --traveling-mission: #bbdefb;
    --arrived-mission: #d1c4e9;
    --in-progress-mission: #fff9c4;
    --aborted-mission: #f8bbd0;
    --completed-mission: #b2dfdb;
    --done-mission: #cfd8dc;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-padding-top: 2rem;
}

@layer base {
    h1 {
        @apply font-black text-2xl sm:text-3xl lg:text-4xl transition-all ease-in-out;
    }

    h2 {
        @apply font-black text-xl sm:text-2xl lg:text-3xl transition-all ease-in-out;
    }

    h3 {
        @apply font-black text-lg transition-all ease-in-out;
    }

    app-hero p {
        @apply bg-black font-medium p-4 text-white text-base rounded-md w-full sm:text-lg md:w-2/3 lg:w-1/2 transition-all;
    }

    dialog {
        margin: auto;
    }

    dialog::backdrop {
        opacity: 0.5;
        background-color: #000;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}