@if (vm(); as vm) {
    <app-base-dialog
        class="w-80 md:w-96 block"
        (cancelOnClick)="cancelClick()"
        [vm]="vm"
        *transloco="let t"
    >
        <h3 class="text-lg">
            {{ t(vm.warningTextKey) }}
        </h3>
        <button (click)="cancelClick()" class="btn btn-secondary">
            {{ t(vm.cancelButtonTextKey) }}
        </button>
        <button (click)="deleteClick()" class="btn btn-error">
            {{ t(vm.submitButtonTextKey) }}
        </button>
    </app-base-dialog>
}
