@if (vm(); as vm) {
    <app-dialog-layout
        class="w-80 md:w-96 block"
        (close)="cancelClick()"
        [vm]="vm"
        *transloco="let t"
    >
        <h3 class="text-lg">
            {{ t(vm.warningTextKey) }}
        </h3>
        <app-button [vm]="vm.deleteButtonXVM" (click)="deleteClick()">
            @if (vm.deleteButtonXVM.textKey) {
                {{ t(vm.deleteButtonXVM.textKey) }}
            }
        </app-button>
        <app-button [vm]="vm.cancelButtonXVM" (click)="cancelClick()">
            @if (vm.cancelButtonXVM.textKey) {
                {{ t(vm.cancelButtonXVM.textKey) }}
            }
        </app-button>
    </app-dialog-layout>
}
