@if (vm(); as vm) {
    <app-dashboard-spacer *transloco="let t">
        @for (gridXVM of vm.gridXVMs; track $index) {
            <app-grid-section>
                <app-grid-section-header>
                    <h3 class="text-xl font-medium">
                        {{ t(gridXVM.titleKey) }}
                    </h3>
                    @if (gridXVM.anchor) {
                        <a
                            class="btn btn-primary"
                            [routerLink]="gridXVM.anchor.routerLink"
                            >{{ t(gridXVM.anchor.textKey) }}</a
                        >
                    }
                </app-grid-section-header>
                <app-grid class="*:grid-cols-[1fr_1.5fr_1fr_1fr_1fr_1fr_1fr]">
                    <app-grid-header
                        class="grid grid-cols-subgrid col-span-full"
                    >
                        @for (header of gridXVM.headerKeys; track $index) {
                            <h4
                                class="uppercase xl:flex items-center text-gray-500 text-sm font-medium"
                            >
                                {{ t(header) }}
                            </h4>
                        }
                    </app-grid-header>

                    <app-grid-item-list
                        class="grid grid-cols-subgrid col-span-full"
                    >
                        @for (
                            missionXVM of gridXVM.gridItemListXVM.gridItemXVMs;
                            track $index
                        ) {
                            <app-grid-item
                                class="grid grid-cols-subgrid xl:col-span-full"
                            >
                                <app-key-value [label]="missionXVM.id.labelKey">
                                    <p class="font-medium text-blue-800">
                                        <app-value
                                            [vm]="missionXVM.id.valueVM"
                                        />
                                    </p>
                                </app-key-value>
                                <app-key-value
                                    [label]="missionXVM.client.labelKey"
                                >
                                    <app-value
                                        [vm]="missionXVM.client.valueVM"
                                    />
                                </app-key-value>
                                <app-key-value
                                    [label]="missionXVM.fieldName.labelKey"
                                >
                                    <app-value
                                        [vm]="missionXVM.fieldName.valueVM"
                                    />
                                </app-key-value>

                                <app-key-value
                                    [label]="missionXVM.pilot.labelKey"
                                >
                                    <app-value
                                        [ngClass]="{
                                            'text-red-700':
                                                missionXVM.pilot.type ===
                                                'unassigned',
                                        }"
                                        [vm]="missionXVM.pilot.valueVM"
                                    />
                                </app-key-value>

                                @if (missionXVM.type === 'activeMission') {
                                    <app-key-value
                                        [label]="missionXVM.areaInHa.labelKey"
                                    >
                                        <app-value
                                            [vm]="missionXVM.areaInHa.valueVM"
                                        />
                                    </app-key-value>
                                    <app-key-value
                                        [label]="missionXVM.status.labelKey"
                                    >
                                        <app-value
                                            class="block xl:hidden"
                                            [vm]="missionXVM.status.valueVM"
                                        />
                                        <app-labeled-badge
                                            class="xl:block hidden"
                                            [ngClass]="{
                                                '*:bg-gray-200 text-gray-700':
                                                    missionXVM.status
                                                        .labeledBadgeXVM
                                                        .type === 'pending',
                                                '*:bg-blue-200 text-blue-700':
                                                    missionXVM.status
                                                        .labeledBadgeXVM
                                                        .type === 'preparing',
                                                '*:bg-yellow-200 text-yellow-700':
                                                    missionXVM.status
                                                        .labeledBadgeXVM
                                                        .type === 'scheduled',
                                            }"
                                            >{{
                                                t(
                                                    missionXVM.status
                                                        .labeledBadgeXVM.textKey
                                                )
                                            }}</app-labeled-badge
                                        >
                                    </app-key-value>
                                }
                                @if (missionXVM.type === 'completedMission') {
                                    <app-key-value
                                        [label]="
                                            missionXVM.completionDate.labelKey
                                        "
                                    >
                                        <time>
                                            <app-value
                                                [vm]="
                                                    missionXVM.completionDate
                                                        .valueVM
                                                "
                                            />
                                        </time>
                                    </app-key-value>
                                    <app-key-value
                                        [label]="
                                            missionXVM.performance.labelKey
                                        "
                                    >
                                        <app-value
                                            class="block xl:hidden"
                                            [vm]="
                                                missionXVM.performance.valueVM
                                            "
                                        />
                                        <app-labeled-badge
                                            class="xl:block hidden"
                                            [ngClass]="{
                                                '*:bg-green-200 text-green-700':
                                                    missionXVM.performance
                                                        .labeledBadgeXVM
                                                        .type === 'good' ||
                                                    'excellent',
                                            }"
                                            >{{
                                                t(
                                                    missionXVM.performance
                                                        .labeledBadgeXVM.textKey
                                                )
                                            }}</app-labeled-badge
                                        >
                                    </app-key-value>
                                }

                                <app-key-value
                                    [label]="missionXVM.actions.labelKey"
                                >
                                    <div class="flex flex-row gap-3">
                                        @for (
                                            anchorXVM of missionXVM.actions
                                                .anchorXVMs;
                                            track $index
                                        ) {
                                            <a
                                                [routerLink]="
                                                    anchorXVM.routerLink
                                                "
                                                [ngClass]="{
                                                    'text-blue-700':
                                                        anchorXVM.type ===
                                                            'manage' ||
                                                        'report',
                                                    'text-red-700':
                                                        anchorXVM.type ===
                                                        'reassign',
                                                    'text-green-700':
                                                        anchorXVM.type ===
                                                        'assign',
                                                }"
                                                >{{ t(anchorXVM.textKey) }}</a
                                            >
                                        }
                                    </div>
                                </app-key-value>
                            </app-grid-item>
                        }
                    </app-grid-item-list>
                </app-grid>
            </app-grid-section>
        }
    </app-dashboard-spacer>
}
