@if (vm(); as vm) {
    @let frameXVM = vm.frameXVM;
    <app-frame [vm]="vm.frameXVM" *transloco="let t">
        <!-- Form areasDataFormGroup -->
        <form
            [formGroup]="areasDataFormGroup"
            class="w-full mx-auto bg-white sm:p-8 sm:shadow-md rounded-lg space-y-6"
        >
            <!-- Internal Order Number -->
            <label for="internalOrderNumber" class="form-label">{{
                t(frameXVM.internalOrderNumberLabelKey)
            }}</label>
            <input
                id="internalOrderNumber"
                type="text"
                formControlName="internalOrderNumber"
                class="form-input"
            />

            <!-- Contact Group -->
            <div
                formGroupName="contact"
                class="p-6 bg-gray-100 rounded-lg space-y-4"
            >
                <!-- Name -->
                <label for="name" class="form-label">{{
                    t(frameXVM.nameLabelKey)
                }}</label>
                <input
                    id="name"
                    type="text"
                    formControlName="name"
                    autocomplete="name"
                    class="form-input"
                />

                <!-- Phone number -->
                <label for="phoneNumber" class="form-label">{{
                    t(frameXVM.phoneNumberLabelKey)
                }}</label>
                <input
                    id="phoneNumber"
                    type="tel"
                    formControlName="phoneNumber"
                    class="form-input"
                />

                <!-- Email -->
                <label for="email" class="form-label">{{
                    t(frameXVM.emailLabelKey)
                }}</label>
                <input
                    id="email"
                    type="email"
                    formControlName="email"
                    autocomplete="email"
                    class="form-input"
                />
            </div>

            <!-- End Customer -->
            <label for="endCustomer" class="form-label">{{
                t(frameXVM.endCustomerLabelKey)
            }}</label>
            <input
                id="endCustomer"
                type="text"
                formControlName="endCustomer"
                class="form-input"
            />

            <!-- AreaData-->

            <label for="areasData" class="form-label">{{
                t(frameXVM.areasDataLabelKey)
            }}</label>
            <app-areas-data-form-control
                formControlName="areasData"
                [vm]="areasDataFormControlVM()"
                class="w-full block mt-3"
            />

            <!-- Submit Button -->
            <button
                (click)="submitForm()"
                [disabled]="!areasDataFormGroup.valid"
                [ngClass]="[
                    areasDataFormGroup.valid ? 'btn-primary' : 'btn-disabled',
                ]"
                class="w-full btn"
            >
                {{ t(vm.frameXVM.submitButtonTextKey) }}
            </button>
        </form>

        <pre>{{ areasDataFormGroup.value | json }}</pre>
    </app-frame>
}
