@if (vm(); as vm) {
    <app-page-layout>
        <app-frame [vm]="vm" *transloco="let t">
            <form class="sm:p-8 sm:shadow-md" [formGroup]="formGroup">
                <!-- Internal order number input start -->
                @let hasInternalOrderNumberRequiredError =
                    formGroup.controls.internalOrderNumber.dirty &&
                    formGroup.controls.internalOrderNumber.hasError('required');
                <app-input-text
                    [vm]="vm.internalOrderNumberInputTextXVM"
                    [invalid]="hasInternalOrderNumberRequiredError"
                    [formControl]="formGroup.controls.internalOrderNumber"
                >
                    @if (hasInternalOrderNumberRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                </app-input-text>
                <!-- Internal order number input end -->

                <div [formGroup]="formGroup.controls.contact">
                    <!-- Name input start -->
                    @let hasNameRequiredError =
                        formGroup.controls.contact.controls.name.dirty &&
                        formGroup.controls.contact.controls.name.hasError(
                            'required'
                        );
                    <app-input-text
                        [vm]="vm.nameInputTextXVM"
                        [invalid]="hasNameRequiredError"
                        [formControl]="formGroup.controls.contact.controls.name"
                    >
                        @if (hasNameRequiredError) {
                            <span leftAssistiveText>{{
                                t(vm.requiredAssistiveTextKey)
                            }}</span>
                        }
                    </app-input-text>
                    <!-- Name input end -->

                    <!-- Phone number input start -->
                    @let hasPhoneNumberRequiredError =
                        formGroup.controls.contact.controls.phoneNumber.dirty &&
                        formGroup.controls.contact.controls.phoneNumber.hasError(
                            'required'
                        );
                    <app-input-text
                        [vm]="vm.phoneNumberInputTextXVM"
                        [invalid]="hasPhoneNumberRequiredError"
                        [formControl]="
                            formGroup.controls.contact.controls.phoneNumber
                        "
                    >
                        @if (hasPhoneNumberRequiredError) {
                            <span leftAssistiveText>{{
                                t(vm.requiredAssistiveTextKey)
                            }}</span>
                        }
                    </app-input-text>
                    <!-- Phone number input end -->

                    <!-- Email input start -->
                    @let hasEmailRequiredError =
                        formGroup.controls.contact.controls.email.dirty &&
                        formGroup.controls.contact.controls.email.hasError(
                            'required'
                        );
                    <app-input-text
                        [vm]="vm.emailInputTextXVM"
                        [invalid]="hasEmailRequiredError"
                        [formControl]="
                            formGroup.controls.contact.controls.email
                        "
                    >
                        @if (hasEmailRequiredError) {
                            <span leftAssistiveText>{{
                                t(vm.requiredAssistiveTextKey)
                            }}</span>
                        }
                    </app-input-text>
                    <!-- Email input end -->
                </div>

                <!-- End customer input start-->
                @let hasEndCustomerRequiredError =
                    formGroup.controls.endCustomer.dirty &&
                    formGroup.controls.endCustomer.hasError('required');
                <app-input-text
                    [vm]="vm.endCustomerInputTextXVM"
                    [invalid]="hasEndCustomerRequiredError"
                    [formControl]="formGroup.controls.endCustomer"
                >
                    @if (hasEndCustomerRequiredError) {
                        <span leftAssistiveText>{{
                            t(vm.requiredAssistiveTextKey)
                        }}</span>
                    }
                </app-input-text>
                <!-- End customer input end-->

                <!-- Missions form control start -->
                @let hasAreasDataMinArrayLengthError =
                    formGroup.controls.areasData.touched &&
                    formGroup.controls.areasData.hasError('minArrayLength');

                <app-areas-data-form-control
                    #areasDataFormControl
                    [vm]="vm.areasDataFormControlVM"
                    [invalid]="hasAreasDataMinArrayLengthError"
                    [formControl]="formGroup.controls.areasData"
                />

                <!-- Missions form control end -->

                <app-button
                    [vm]="vm.submitButtonXVM"
                    [disabled]="formGroup.invalid"
                    (click)="submitForm()"
                >
                    @if (vm.submitButtonXVM.textKey; as textKey) {
                        {{ t(textKey) }}
                    }
                </app-button>
            </form>
        </app-frame>
    </app-page-layout>
}
