@if (vm(); as vm) {
    <app-page-section>
        <app-frame *transloco="let t">
            <h2>{{ t(vm.frameXVM.titleKey) }}</h2>
            <!-- Form areasDataFormGroup -->
            <form
                [formGroup]="areasDataFormGroup"
                class="w-full mx-auto bg-white sm:p-8 sm:shadow-md space-y-6"
            >
                <!-- Internal Order Number -->
                <label for="internalOrderNumber" class="form-label">{{
                    t(vm.frameXVM.internalOrderNumberLabelKey)
                }}</label>
                <input
                    id="internalOrderNumber"
                    type="text"
                    formControlName="internalOrderNumber"
                    class="form-input"
                />

                <!-- Contact Group -->
                <div formGroupName="contact" class="p-6 bg-gray-100 space-y-4">
                    <!-- Name -->
                    <label for="name" class="form-label">{{
                        t(vm.frameXVM.nameLabelKey)
                    }}</label>
                    <input
                        id="name"
                        type="text"
                        formControlName="name"
                        autocomplete="name"
                        class="form-input"
                    />

                    <!-- Phone number -->
                    <label for="phoneNumber" class="form-label">{{
                        t(vm.frameXVM.phoneNumberLabelKey)
                    }}</label>
                    <input
                        id="phoneNumber"
                        type="tel"
                        formControlName="phoneNumber"
                        class="form-input"
                    />

                    <!-- Email -->
                    <label for="email" class="form-label">{{
                        t(vm.frameXVM.emailLabelKey)
                    }}</label>
                    <input
                        id="email"
                        type="email"
                        formControlName="email"
                        autocomplete="email"
                        class="form-input"
                    />
                </div>

                <!-- End Customer -->
                <label
                    for="endCustomer"
                    class="block tracking-widest font-medium text-gray-700"
                    >{{ t(vm.frameXVM.endCustomerLabelKey) }}</label
                >
                <input
                    id="endCustomer"
                    type="text"
                    formControlName="endCustomer"
                    class="form-input"
                />

                <!-- AreaData-->

                <app-areas-data-form-control
                    formControlName="areasData"
                    [vm]="vm.frameXVM.areasDataFormControlVM"
                    class="w-full block mt-3"
                >
                    <label for="areasData" class="form-label">{{
                        t(vm.frameXVM.areasDataLabelKey)
                    }}</label>
                </app-areas-data-form-control>

                <!-- Submit Button -->
                <button
                    (click)="submitForm()"
                    [disabled]="!areasDataFormGroup.valid"
                    [ngClass]="[
                        areasDataFormGroup.valid
                            ? 'btn-primary'
                            : 'btn-disabled',
                    ]"
                    class="w-full btn"
                >
                    {{ t(vm.frameXVM.submitButtonTextKey) }}
                </button>
            </form>
        </app-frame>
    </app-page-section>
}
